body {
  margin: 0;
  line-height: normal;
  width: 100%;
  overflow: hidden;
}

.logo-1-icon {
  position: absolute;
  top: 855px;
  left: 1733px;
  width: 167px;
  height: 37px;
  overflow: hidden;
}
.intertech-1-icon {
  position: absolute;
  top: 844px;
  left: 25px;
  width: 158px;
  height: 35px;
  object-fit: cover;
}
.pattern-icon {
  position: absolute;
  top: 0%; /* Start from the top of the container */
  left: 70%; /* Start from the left of the container */
  width: auto; /* Maintain aspect ratio */
  height: auto; /* Maintain aspect ratio */
  max-width: 100%; /* Fit within the container width */
  max-height: 100%; /* Fit within the container height */
  object-fit: contain; /* Scale the image to fit the container */
  overflow: visible; /* Ensure content is not clipped */
}
.vector-icon {
  position: absolute;
  top: 46%; /* Start from the top of the container */
  left: 20%; /* Start from the left of the container */
  width: auto; /* Maintain aspect ratio */
  height: auto; /* Maintain aspect ratio */
  max-width: 100%; /* Fit within the container width */
  max-height: 100%; /* Fit within the container height */
  object-fit: contain; /* Scale the image to fit the container */
  overflow: visible; /* Ensure content is not clipped */
}
.gentech-olarak-vizyonumuz {
  position: absolute;
  top: 338px;
  left: 338px;
  font-weight: 800;
  display: inline-block;
  width: 514px;
  height: 415px;
}
.misyonumuz-banka-mterilerini {
  position: absolute;
  top: 338px;
  left: 1100px;
  font-weight: 800;
  display: inline-block;
  width: 516px;
  height: 415px;
}
.hakkimizda {
  position: absolute;
  top: 54px;
  left: 611px;
  font-size: 64px;
  font-weight: 800;
  background: linear-gradient(90deg, #ad11f6, #2ec3cc);
  -webkit-background-clip: text; /* For WebKit browsers */
  background-clip: text; /* Standard property */
  -webkit-text-fill-color: transparent; /* For WebKit browsers */
  color: transparent; /* Ensures the text is transparent */
  display: inline-block;
  width: 391px;
  height: 83px;
}
.frame-3-removebg-preview-1-icon {
  position: absolute;
  top: 13px;
  left: 25px;
  width: 158px;
  height: 165px;
  object-fit: cover;
  cursor: pointer;
}
.vizyon {
  position: absolute;
  top: 213px;
  left: 357px;
  font-weight: 800;
  background: linear-gradient(90deg, #ad11f6, #12a4f5);
  -webkit-background-clip: text; /* For WebKit browsers */
  background-clip: text; /* Standard property, currently requires -webkit- prefix */
  -webkit-text-fill-color: transparent; /* For WebKit browsers */
  color: transparent; /* Fallback to ensure text transparency */
  display: inline-block;
  width: 130px;
  height: 41px;
  line-height: 0.8;
}

.misyon {
  position: absolute;
  top: 212px;
  left: 1119px;
  font-weight: 800;
  background: linear-gradient(90.35deg, #ad11f6, #1cbcef);
  -webkit-background-clip: text; /* For WebKit browsers */
  background-clip: text; /* Standard property */
  -webkit-text-fill-color: transparent; /* For WebKit browsers */
  color: transparent; /* Ensures the text is transparent */
  display: inline-block;
  width: 140px;
  height: 49px;
  line-height: 0.8;
}
.united-kingdom-icon {
  position: absolute;
  top: 204px;
  left: 111px;
  width: 45px;
  height: 45px;
  object-fit: cover;
  cursor: pointer;
}
.turkey-icon {
  position: absolute;
  top: 204px;
  left: 36px;
  width: 50px;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
}
.langseperator {
  position: absolute;
  top: 209px;
  left: 96px;
  border-radius: 5px;
  background: linear-gradient(180deg, #00ffff, #ad11f6);
  width: 6px;
  height: 40px;
}
.logo-1-parent {
  width: 100%;
  position: relative;
  background: linear-gradient(
    107.56deg,
    #c9e9f0,
    #fff 15.14%,
    #fff 75%,
    #d3c1ea
  );
  height: 921px;
  overflow: hidden;
  text-align: left;
  font-size: 40px;
  color: rgba(0, 0, 0, 0.78);
  font-family: Sarabun;
}
