<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/aboutUs.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Sarabun:wght@800&display=swap"
    />
  </head>
  <body>
    <div class="logo-1-parent">
      <img class="logo-1-icon" alt="" src="/static/images/logo 1.png" />

      <img
        class="intertech-1-icon"
        alt=""
        src="/static/images/intertechIcon.png"
      />

      <img class="pattern-icon" alt="" src="/static/images/Pattern.svg" />

      <img class="vector-icon" alt="" src="/static/images/Vector.svg" />

      <div class="gentech-olarak-vizyonumuz">
        GenTech olarak vizyonumuz kullanıcı yorumlarını sınıflandırmada yüksek
        doğruluk ve verimlilik sağlayan, sektörde öncü ve güvenilir bir çözüm
        sunmaktır.
      </div>
      <div class="misyonumuz-banka-mterilerini">
        Misyonumuz banka müşterilerinin yorumlarını alt ve üst kategorilerde
        birlikte sınıflandırabilecek yenilikçi ve kullanıcı dostu bir generative
        AI asistanı geliştirmektir.
      </div>
      <div class="hakkimizda">HAKKIMIZDA</div>
      <img
        class="frame-3-removebg-preview-1-icon"
        alt=""
        src="/static/images/GentechBrainIconTransparent.png"
      />

      <div class="vizyon">Vizyon</div>
      <div class="misyon">Misyon</div>
    </div>
  </body>
  <script src="/static/js/script-about-us.js"></script>
</html>