<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard - Kullanıcılar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin-dashboard-users.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/script-admin.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>
</head>
<body>
    <div class="dashboard">
        <header>
            <img src="\static\images\GentechBrainIconTransparent.png" alt="Logo" id="logo">
            <h1>Kullanıcılar</h1>
            <div class="profile-avatar-container">
                <img src="{{ url_for('static', filename='images/admin.png') }}" alt="Avatar" id="avatar" class="profile-avatar">
                <div id="dropdown-menu" class="profile-menu-content">
                    <a href="/welcome">Ana Sayfa</a>
                    <a href="{{ url_for('admin_dashboard_complaints') }}">Şikayetler</a>
                    <a href="#" id="logout">Çıkış Yap</a>
                </div>
            </div>
        </header>
        <main>
            <table id="users-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Ad</th>
                        <th>Soyad</th>
                        <th>E-posta</th>
                        <th>Telefon</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td data-label="ID">{{ user.id }}</td>
                        <td data-label="Ad">{{ user.ad }}</td>
                        <td data-label="Soyad">{{ user.soyad }}</td>
                        <td data-label="E-posta">{{ user.eposta }}</td>
                        <td data-label="Telefon">{{ user.telefon }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </div>
    <script src="{{ url_for('static', filename='js/script-admin.js') }}"></script>
    <!-- Footer -->
    <footer>
        &copy; 2024 GenTech Kullanıcı Şikayet Forumu. Tüm hakları saklıdır.
    </footer>
</body>
</html>
