<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link rel="stylesheet" href="static/css/categorize.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" />
</head>
<body>
    <div class="logo-1-parent">
        <img class="logo-1-icon" alt="" src="static\images\logo1.png">
        <img class="intertech-1-icon" alt="" src="static\images\intertechIcon.png">
        <img class="pattern-icon" alt="" src="static\images\Pattern.svg">
        <img class="pattern-icon" alt="" src="static/images/Pattern.svg">
        <img class="vector-icon" alt="" src="static\images\Vector.svg">
        <img class="frame-3-removebg-preview-1-icon" alt="" src="static\images\GentechBrainIconTransparent.png">
        <div class="frame-child" id="message-container"></div>
        <div class="frame-item">
            <img class="menu-bar" alt="Menu" src="static/images/menu-bar.png" id="menu-bar">
            <div class="menu-dropdown" id="menu-dropdown">
                <a href="/welcome">Ana Sayfa</a>
                <a href="#" id="logout">Çıkış Yap</a>
            </div>
        </div>
        <div class="gentech-asistan-wrapper">
            <div class="gentech-asistan">GenTech Asistan</div>
        </div>
        <div class="icons8-bot-64-1-wrapper">
            <img class="icons8-bot-64-1" alt="" src="static\images\bot.png">
        </div>
        <div class="online-wrapper">
            <div class="gentech-asistan">Online</div>
        </div>
        <div class="frame-inner"></div>
        <div class="rectangle-div"></div>
        <div class="message-input-parent">
            <form id="comment-form">
                <textarea class="message-input" name="comment" placeholder="Mesajınızı giriniz."></textarea>
                <button type="submit"><img src="static\images\newsend.png" alt="Gönder"></button>
            </form>
        </div>
    </div>
    <script src="static/js/scripts.js" defer></script>
</body>
</html>
