<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/welcome.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Sarabun:wght@800&display=swap"
    />
  </head>
  <body>
    <div class="rectangle-parent">
      <div class="frame-child"></div>
      <img
        class="logo-1-icon"
        alt=""
        src="{{ url_for('static', filename='images/logo 1.png') }}"
      />

      <img
        class="intertech-1-icon"
        alt=""
        src="{{ url_for('static', filename='images/intertechIcon.png') }}"
      />

      <img class="pattern-icon" alt="" src="/static/images/Pattern.svg" />

      <img class="vector-icon" alt="" src="/static/images/Vector.svg" />

      <div class="ana-sayfa">Ana Sayfa</div>
      <div class="bize-ulan">Bize Ulaşın</div>
      <div class="hakkmzda">Hakkımızda</div>
      <div class="sizden-gelen-geri">
        Sizden gelen geri bildirimler bizim için çok değerli! İster
        yorumlarınızı, ister şikayetlerinizi, isteklerinizi ya da dileklerinizi
        paylaşın; sizinle hızlı ve etkili bir şekilde iletişime geçmek için
        buradayız. Her türlü görüşünüz, bizim sürekli gelişim ve iyileştirme
        sürecimize katkı sağlar. Size en iyi hizmeti sunmak için her zaman
        yanınızdayız!
      </div>
      <div class="yorumlariniz-ve-kayetlernz">
        YORUMLARINIZ VE ŞİKAYETLERİNİZ İÇİN BURADAYIZ
      </div>
      <div class="bala-wrapper">
        <div class="bala">BAŞLA</div>
      </div>
      <img
        class="frame-3-removebg-preview-1-icon"
        alt=""
        src="{{ url_for('static', filename='images/GentechBrainIconTransparent.png') }}"
      />
    </div>
  </body>
  <script src="/static/js/script-welcome.js"></script>
</html>